/**
* ERASE ALL BROWSER STYLES
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: arial;
}

.hidden {
  /*visibility: hidden;*/
  display: none
  }

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*******************************
WHERE IS JUSTO 
*******************************/
body {
    background-color: white;
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

#main-wrapper {
    margin: 0 auto;
	
}
#content-wrapper {
    width:980px;
    min-height: 800px;
    margin: 0 auto;
    background:#fff;
}

#header {
    padding: 20px;
    margin-bottom: 30px;
    background:#0E685C;
    min-height: 40px;
	padding: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft:15px;
    border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    -moz-border-radius-topright:15px;
    border-top-right-radius:15px;
    -webkit-border-bottom-right-radius:15px;
    -moz-border-radius-bottomright:15px;
    border-bottom-right-radius:15px;
    -webkit-border-bottom-left-radius:15px;
    -moz-border-radius-bottomleft:15px;
    border-bottom-left-radius:15px;
	margin-bottom: 50px;
}
#section-title {
    float:left;
    font-size: 32px;
    color:#fff;
}

h1 {
    font-size:24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/****************
page 1
*****************/
#side_search {
	
    width: 200px;
    float:left;
}

#role, #tag, #groupname{
	background: #F2EFEF;
    padding: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft:15px;
    border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    -moz-border-radius-topright:15px;
    border-top-right-radius:15px;
    -webkit-border-bottom-right-radius:15px;
    -moz-border-radius-bottomright:15px;
    border-bottom-right-radius:15px;
    -webkit-border-bottom-left-radius:15px;
    -moz-border-radius-bottomleft:15px;
    border-bottom-left-radius:15px;
	margin-bottom: 50px;
}

#side_search p{
    line-height: 25px;
}

#tag, #groupname,#role  {
    width:180px;
    float:left;
    min-height: 200px;
}

#form1, #resultContainer, #results {
    width:700px;
    margin-left:50px;
    margin-bottom: 50px;
	line-height: 50px;
	float:right;
}

#results {
	line-height: 20px;
}


#form1 label {
	display: block;
	line-height: 50px;
	width: 30%;
	float:left;
	}
input{
	width:300px;
	height: 20px;
}

.btn_query {
	border: 1px solid #F2EFEF;
	width: 100px;
	height: 50px;
	float: right;
	background: #F2EFEF;
	font-weight: bold;
	font-size: 16px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft:15px;
    border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    -moz-border-radius-topright:15px;
    border-top-right-radius:15px;
    -webkit-border-bottom-right-radius:15px;
    -moz-border-radius-bottomright:15px;
    border-bottom-right-radius:15px;
    -webkit-border-bottom-left-radius:15px;
    -moz-border-radius-bottomleft:15px;
    border-bottom-left-radius:15px;
	margin-bottom: 20px;
	padding: 5px;
}
	
#form1 .type{
    width: 100px;
    margin: 5px;
}

#form1 .rows{
    width: 300px;
    margin: 5px;
}

.facet {
	cursor: pointer;
}

.result img{
	margin-right: 20px;
}

#audio a, #image a, #text a, #video a{
	color: grey;
	text-decoration: none;
}

#audio a:hover, #image a:hover, #text a:hover, #video a:hover {
	color: black;
	font-weight: bold;
}

.pageSuivante {
	cursor: pointer;
}
.pagePrecedante {
	cursor: pointer;
}